<a href="https://colab.research.google.com/github/ohsoohyun/python_study/blob/main/SCS2013_Exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SCS2013 Exercise 04 (2022-Spring)

**This exercise notebook will go through the key data structures in Python:**

Lists, Tuples, Dictionaries, Sets are 4 **collection types** in Python

* Lists (리스트)
  - A collection which is ordered and changeable. Allows duplicate items.
* Tuples (튜플)
  - A collection which is ordered and unchangeable. Allows duplicate items.
* Dictionaries (딕셔너리)
  - A collection which is ordered and changeable. No duplicate items.
* Sets (집합)
  - A collection which is unordered, unchangeable, and unindexed. No duplicate items.

## Lists (리스트)

List is a collection which is **ordered** and **changeable**. It **allows duplicate** items
  - it is a data sequence that can hold multiple, different types of data 

  - represented inside **brackets "[]"**
  - elements are separated with **commas ","**
  - **Syntax**
  ```
  list_name = [element1, element2, ...]
  ```
  - mutability = changeable: the values inside a list are changeable
  - it has an index order that starts with `0` - we can access each element inside a list with its index number

In [44]:
# Create a list ['Hello World', 3, 2.5, ['Python', 'Programming'], 'SCS2013']
lst = ['Hello World', 3, 2.5, ['Python', 'Programming'], 'SCS2013']
lst

['Hello World', 3, 2.5, ['Python', 'Programming'], 'SCS2013']

In [38]:
# List indexing, slicing and striding
# check the length of the list
print(len(lst))

# check the index and slicing 
print(lst[0])
print(lst[2])
print(lst[1:3])

print(lst[-2])
# check the type of lst[-2]
print(type(lst[-2]))

5
Hello World
2.5
[3, 2.5]
['Python', 'Programming']
<class 'list'>

In [42]:
# access the element of the nested list
print(lst[-2][0])
print(lst[-2][1])
print(lst[-2][1][0])

Python
Programming
P

In [45]:
# Mutability 
print(lst)

# change index 2 value
lst[2] = 1.4
print(lst)

['Hello World', 3, 2.5, ['Python', 'Programming'], 'SCS2013']
['Hello World', 3, 1.4, ['Python', 'Programming'], 'SCS2013']

**List Methods**

Here are some list methods:
- `.append(a)`: adding element `a` to a list
- `.insert(idx, a)`: inserting element `a` to a particular position `idx` of the list
- `.index(a)`: show the index of an element `a`
- `.clear()`: clear all elements of the list
- `.remove(a)`: removing an element `a` of the list
- `.reverse()`: reversing the order of elements
- `.count(a)`: counting how many elements `a` there are in the list
- `sum()`: sum all the elements in the list
- `min()`: show the element with minimum value in the list
- `max()`: show the element with maximum value in the list
- `del list[idx]`: delete an element at a particular position `idx` of the list

**note**: `.append()`, `.insert()`, `.clear()`, `.remove()`, `.reverse()`: list의 값을 바로 변경함

In [46]:
# .append()
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.append("Append")
print(lst_1)

# .insert() 넣고싶은 위치까지 조정가능하다.
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.insert(3, "Insert")
print(lst_1)

['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 'World', 31, 2.7, True, 'True', '31', 'Append']
['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 'World', 31, 'Insert', 2.7, True, 'True', '31']

In [47]:
# .index() 위치를 찾고 싶을 때
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
print(lst_1.index(31))

['Hello', 'World', 31, 2.7, True, 'True', '31']
2

In [49]:
# .clear() 모든 내용을 다 지운다.
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.clear()
print(lst_1)

# .remove()
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31', 'World']
print(lst_1)
lst_1.remove('World') # 처음 나타낸 것을 지워줌
print(lst_1)

#lst_1.remove('World')

# del 
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
del lst_1[1]
print(lst_1)

['Hello', 'World', 31, 2.7, True, 'True', '31']
[]
['Hello', 'World', 31, 2.7, True, 'True', '31', 'World']
['Hello', 31, 2.7, True, 'True', '31', 'World']
['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 31, 2.7, True, 'True', '31']

In [50]:
# .sort() - ascending 오름차순
lst_1 = [1, 2, 34, 6]
print(lst_1)
lst_1.sort()
print(lst_1)

# .reverse() - descending 내림차순
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.reverse()
print(lst_1)

[1, 2, 34, 6]
[1, 2, 6, 34]
['Hello', 'World', 31, 2.7, True, 'True', '31']
['31', 'True', True, 2.7, 31, 'World', 'Hello']

In [51]:
# sum(), min(), max()
# lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
# print(lst_1)
# sum(lst_1) <- 에러가 난다.

lst_1 = [3, 75, 6, 23, 3, 13]
print(lst_1)

print(sum(lst_1))
print(min(lst_1))
print(max(lst_1))

[3, 75, 6, 23, 3, 13]
123
3
75

## Tuples (튜플)

Tuple is a collection which is **ordered** and **unchangeable**. It **allows duplicate** items
  - it is a data sequence that can hold multiple, different types of data 

  - represented inside **parenthesis "()"**
  - elements are separated with **commas ","**
  - **Syntax**
  ```
  tuple_name = (element1, element2, ...)
  ```

  - immutability = unchangeable: the values inside a tuple cannot be changed
  - it has an index order that starts with `0` - we can access each element inside a tuple with its index number

In [52]:
# create a tuple <- 중복된 값을 각각의 값으로 인식해준다.
tup = ('Hello World', 3, 2.5, ['Python', 'Programming'], ('SCS', 2013), 3) # duplicates
tup

('Hello World', 3, 2.5, ['Python', 'Programming'], ('SCS', 2013), 3)

In [53]:
# tuple indexing, slicing and striding
tup = ('Hello World', 3, 2.5, ['Python', 'Programming'], ('SCS', 2013))
print(len(tup))

print(tup[0])
print(tup[3:])

print(tup[-2])
print(tup[-1])

print(tup[-2][0])
print(tup[-1][0])

5
Hello World
(['Python', 'Programming'], ('SCS', 2013))
['Python', 'Programming']
('SCS', 2013)
Python
SCS

In [54]:
# Immutability 
print(tup)

# tup[2] = 1.4
# print(tup) <- type error가 발생한다. tuple은 item assignment를 support하지 않는다.

# del tup[1]
# print(tup) <- 에러 발생

# 제거를 하고 싶을 경우 slicing을 하면된다. 
# 값을 변경하지 않기 위해서 한다.

('Hello World', 3, 2.5, ['Python', 'Programming'], ('SCS', 2013))

**Tuple Methods**

Here are some tuple methods:
- `.index()`: show the index of an element
- `.count()`: counting how many elements there are in the tuple
- `sum()`: sum all the elements in the tuple
- `min()`: show the element with minimum value in the tuple
- `max()`: show the element with maximum value in the tuple

**note**: 'tuple' object has no attribute `.append(), .insert(), .clear(), .remove(), .reverse()`

In [56]:
tup_1 = ('Hello', 'World', 31, 2.7, True, 'True', '31')

# tup_1.reverse() <- 에러가 발생한다.
# tup_1

In [58]:
# .index()
tup_1 = ('Hello', 'World', 31, 2.7, True, 'True', '31')
print(tup_1)

print(tup_1.index(31))
#tup_1.index(3.2) <- 존재하지 않는 값은 error가 발생한다. 

# .count()
tup_1 = ('Hello', 'World', 31, 2.7, True, 'True', '31')
print(tup_1)

tup_1.count('True') # type 구분해야 함 1개!!

('Hello', 'World', 31, 2.7, True, 'True', '31')
2
('Hello', 'World', 31, 2.7, True, 'True', '31')

1

In [59]:
# sum(), min(), max()

tup_1 = (3, 75, 6, 23, 3, 13)
print(tup_1)

print(sum(tup_1))
print(min(tup_1))
print(max(tup_1))

(3, 75, 6, 23, 3, 13)
123
3
75

## Dictionaries (딕셔너리)

Dictionary is a collection which is **ordered** (but ordering is not significant!!) and **changeable**. It has **no duplicate** items (**"key-value" pairs**).
  - it is a data sequence that can hold multiple, different types of data as value

  - represented inside **curly brackets "{}"**
  - key-value pairs are separated with **commas ","**
  - key and value is spearated by a **colon ":"**
  - **Syntax**
  ```
  dictionary_name = {key1:value1, key2:value2, ...}
  ```
  - can access each value with its corresponding key - it has no index number 
  ```
  dict[key]
  dict.get(key)
  ```

  - immutability: the *key* inside a dictionary cannot be changed and also should be unique    
  - mutability: the *value* inside a dictionary is changeable

In [60]:
# make dictionary {'name':'Kim', 'birth':['March',9], 'age':27}

dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print(dct)

dct = {'name':'Kim', 'birth':['March',9], 'age':27, 'name': 'James'} # what if there are duplicated keys?
print(dct) # key값은 중복을 허용하지 않고 중복하면 마지막 값이 들어가게 된다. 

dct = {'name':'Kim', 'birth':['March',9], 'age':27, 'nickname': 'Kim'}
print(dct) # 얘는 각각 독립적으로 나오게 된다.

{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{'name': 'James', 'birth': ['March', 9], 'age': 27}
{'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'nickname': 'Kim'}

In [61]:
# access values using their keys or .get()

print(dct['name'])
print(dct.get('name'))

print(dct['age'])
print(dct['birth'])

print(dct['birth'][0])
print(dct['birth'][1])

Kim
Kim
27
['March', 9]
March
9

In [62]:
# Add/Remove a key-value pair

dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print(dct)

# Add a pair ('year', 1995)
dct['year'] = 1995
print(dct)

# Delete a pair ('age', 27)
del dct['age']
print(dct)

# Change a value of a specific key-value pair 
dct['name'] = 'James'
print(dct)

{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'year': 1995}
{'name': 'Kim', 'birth': ['March', 9], 'year': 1995}
{'name': 'James', 'birth': ['March', 9], 'year': 1995}

**Dicionary Methods**

Here are some dictionary methods:
- `.keys()`: show the keys in a dictionary
- `.values()`: show the values in a dictionary
- `.items()`: create a (key, value) tuple 

- `.clear()`: clear the entire dictionary
- `.copy()`: copy a dictionary
- `.update()`: insert the specific items (key-value, or dictionary) to the dictionary

In [63]:
# Example: keys cannot be changed, but values can be changed
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print(dct)

print(dct['age'])

dct['age'] = 100
print(dct)

{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
27
{'name': 'Kim', 'birth': ['March', 9], 'age': 100}

In [64]:
# Example: check a list of dictionary's keys and dictionary's values, and key-value pairs

# .keys()
print(dct.keys())
print(type(dct.keys()))

dct_key_list = list(dct.keys()) # 리스트로 변환해주기
print(dct_key_list)

dict_keys(['name', 'birth', 'age'])
<class 'dict_keys'>
['name', 'birth', 'age']

In [65]:
# .values()
print(dct.values())
print(type(dct.values()))

# .items()
print(dct.items())
print(type(dct.items()))

dict_values(['Kim', ['March', 9], 100])
<class 'dict_values'>
dict_items([('name', 'Kim'), ('birth', ['March', 9]), ('age', 100)])
<class 'dict_items'>

In [66]:
# in, not in
print('name' in dct.keys()) # key 값 확인하기
print('name' in dct)
print('Name' in dct.keys())

True
True
False

In [67]:
# .copy()
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
c_dct = dct.copy()
print(c_dct)

# .clear()
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
dct.clear()
print(dct)
print(c_dct)

# update 
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
dct_2 = {'year': 1995, 'Course': 'SCS2013'}

dct.update(dct_2)
print(dct)

{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{}
{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'year': 1995, 'Course': 'SCS2013'}

## Sets (집합)

Set is a collection which is **unordered**, **unchangeable**, and **unindexed**. It has **no duplicate** items
  - represented using **curly brackets "{}"**
  - elements are separated with **commas ","**
  - **Syntax**
  ```
  set_name = {element1, element2, ... }
  ```

  - immutability = unchangeable: the values inside a set cannot be changed, but we can add/remove items inside a set
  - it does not have an index order - we can use `in` or `not in` to check an element is included in a set or not

In [68]:
# create a set
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'} # duplicate
print(set_1)

# create an empty set: set()
set_2 = {}
print(set_2)
print(type(set_2))

set_2 = set() # 공집합 만들기
print(set_2)
print(type(set_2))

{2, 3, 'A', 'B', 'C'}
{}
<class 'dict'>
set()
<class 'set'>

In [69]:
# accesing items in a set
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'} # duplicate
print(3 in set_1) # 해당 값이 집합에 있는지 없는지를 판단할 수 있다.
print('a' in set_1)
print('A' in set_1)

True
False
True

In [70]:
# Add/Remove items
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'}
print(set_1)

set_1.add(6) # 한번에 하나씩 추가
print(set_1)

set_1.update(['a','bb','ccc']) # 여러 개의 값을 한번에 추가
print(set_1)

set_1.remove('bb') # 값 제거하기
print(set_1)

{2, 3, 'A', 'B', 'C'}
{2, 3, 6, 'A', 'B', 'C'}
{2, 3, 6, 'A', 'a', 'B', 'ccc', 'bb', 'C'}
{2, 3, 6, 'A', 'a', 'B', 'ccc', 'C'}

**Set Methods**

Here are some set methods:
- `A.union(B)` or `A | B`: 합집합
- `A.intersection(B)` or `A & B`: 교집합
- `A.difference(B)` or `A - B`: 차집합
- `A.issuperset(B)` or `A >= B`: 포함관계

In [71]:
# set methods
set_a = {1,2,3,5,7,8}
set_b = {1,2,4,6,7}
set_c = {1,2,3,5}

print(set_a.union(set_b))
print(set_a.intersection(set_b))
print(set_a - set_b)
print(set_a.issuperset(set_c)) # 참 거짓을 따진다.
print(set_a >= set_c)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 7}
{8, 3, 5}
True
True

## Exercises

### E-1
Given the list `lst`, use some list methods to make the following result:

```
lst = ['Hello', 'World', 31, 2.7, True, 'True', '31']
```

Result:
```
['Hello', 'World', 31, 2.7, ('List', 'Python', 2022), True, '31', 20220401]
```

In [2]:
lst = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst)

# your code here
tup = ('List', 'Python', 2022)
lst[4] = tup
lst.append(20220401)

# 선생님 코드
lst.insert(4, tup)
del lst[-3]
lst.append(20220401)

print(lst)

['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 'World', 31, 2.7, ('List', 'Python', 2022), 'True', '31', 20220401]

### E-2

Given the list `lst`, 
```
lst = [35, 7, 47, -7, 101, 2, 7, -13]
```
i) compute the *average value* of the elements inside the list (using some methods) 

ii) sorting the list in *descending order* and 

iii) insert the average value as the *first* element of the list.

Result:
```
[22.375, 101, 47, 35, 7, 7, 2, -7, -13]
```

In [20]:
lst = [35, 7, 47, -7, 101, 2, 7, -13]

# your code here
# compute the average value
avrg = sum(lst)/len(lst)
# print(avrg)

# sorting in descending order
lst.sort(reverse=True)
# print(lst)

# 선생님 코드
lst.reverse()
print(lst)

# insert the average value as the first element
lst.insert(0, avrg)

print(lst)

[22.375, 101, 47, 35, 7, 7, 2, -7, -13]

### E-3

What is the ratio of the minimum and maximum values in the tuple `tup`? 
```
tup = (42, 33, 1002, 84, 10, 492)
```
For example, if minimum value is 2 and maximum value is 5, then the ratio is `2/5 = 0.4`.

In [21]:
tup = (42, 33, 1002, 84, 10, 492)

# your code here
ratio = min(tup)/max(tup)

print(ratio)

0.00998003992015968

### E-4

Given the dictionary `dct`: 
```
dct = {'name':'Peter', 'birth':[1995, 'April', 10], 'age':38, 'city':'Jeju'}
```
i) when the `'Peter'` was born (month)? 

ii) Change `'Peter'`'s born city from `'Jeju'` to `'Seoul'` 

iii) add a new key-value pair: key `'education'` and value `['Dongguk', 'SCS2013']`

Result:
```
dct = {'name': 'Peter', 'birth': [1995, 'April', 10], 'age': 38, 'city': 'Seoul', 'education': ['Dongguk', 'SCS2013']}
```

In [73]:
dct = {'name':'Peter', 'birth':[1995, 'April', 10], 'age':38, 'city':'Jeju'}

# born month
print(dct['birth'][1])


# change Peter's born city to 'Seoul'
dct['city'] = 'Seoul'


# add new key-value
dct['education']=['Dongguk', 'SCS2013']

print(dct)

April
{'name': 'Peter', 'birth': [1995, 'April', 10], 'age': 38, 'city': 'Seoul', 'education': ['Dongguk', 'SCS2013']}

### E-5

Given two sets `setA` and `setB`: 
```
setA = {"Apple", 34, "Banana", True}
setB = {"Banana", "Melon", False, -1.2, 34}
```
i) compute the union, intersection of two sets 

ii) check the superset relationship between union set and intersection set

iii) compute a set that contains the items that only exist in the union set, and not in the intersection set

In [72]:
setA = {"Apple", 34, "Banana", True}
setB = {"Banana", "Melon", False, -1.2, 34}
print('setA:', setA)
print('setB:', setB)

# your code here
# i) union and intersection
uni = setA.union(setB)
inters = setA.intersection(setB)

# 이런 식으로 계산해도 된다.
# setA | setB
# setA & setB

print(uni)
print(inters)

# ii) is union superset of intersection?
aa = uni.issuperset(inters)
print(aa)

# iii) what is a set that contains the difference between union and intersection?
bb = uni.difference(inters)
print(bb)

setA: {'Banana', 'Apple', 34, True}
setB: {False, 'Banana', 34, 'Melon', -1.2}
{False, 'Banana', 'Apple', 34, True, 'Melon', -1.2}
{'Banana', 34}
True
{False, True, 'Apple', 'Melon', -1.2}