<a href="https://colab.research.google.com/github/ohsoohyun/python_study/blob/main/SCS2013_Exercise_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SCS2013 Exercise 02 (2022 Spring)

**This exercise notebook will go through the basic data types in Python:**

* Numbers (Numeric)
  * Integers (정수형)
  * Floating Points (실수형)
* Strings (문자열)
* Booleans (불)

## ``print()`` and Comments (``#``)

Before start, let's print 'Hello'. 

**``print()``** is used to display information to the user: It does not change values, variables, functions - just simply displays.

* Usage ``print()``: if we want to print a text, it should be in quotes `` '' `` or `` ""``.

* We can print multiple values by separating them with commans `,`.

* ``#`` symbol is used to put **comments** in your code. The comments don't get executed.

In [ ]:
print('Hello!')
print('2022 Spring - SCS2013 Exercise 02')
print('2022 Spring', 'Hello!', 'SCS2013', 'Exercise 02')

Hello!
2022 Spring - SCS2013 Exercise 02
2022 Spring Hello! SCS2013 Exercise 02

## Variables (변수)

**Variable** is a space in the computer's memory where we can store data (number, text, ...). We use variable in Python to hold and manipulate values. Python does not require to declare a variable before use it. All we need is **assign** a variable a value. (**dynamically typed**)

Variable *name* & Variable *value* 

All we need is to provide a variable name and assign it some value: using **'='** operator.
  * e.g.: ``my_num = 123``
  * A variable named ``my_num`` was created
  * The value ``123`` was assigned to the variable ``my_num``

In [ ]:
my_num = 123

In [ ]:
my_num

123

In [ ]:
my_num + my_num

246

In [ ]:
print(my_num)

123

In [ ]:
my_num = 12.3

In [ ]:
my_num

12.3

In [ ]:
my_num1, my_num2 = 3, 5.6
print(my_num1, my_num2)

3 5.6

### Variable names 

Python allows you to name variables to your liking, as long as the names follow the rules:

* variable names may contain letters, digits (0-9) or the underscore character `_`
* variable names must begin with a letter from A-Z or the underscore `_`
* variable names may not be a keyword in Python: e.g., `and`
* Python's *keyword(예약어)* list includes:

``and, as, if, for, import, in, is, break, True, while, ... ``

In [ ]:
fish = 1
fish

1

In [ ]:
a = 2
a

2

In [ ]:
_uvar_ = 3
_uvar_

3

In [ ]:
a21 = 4
a21

4

In [ ]:
long_var_name_is_okay = 5
long_var_name_is_okay

5

In [ ]:
RemoteAddress = '1.2.3.4'
RemoteAddress

'1.2.3.4'

In [ ]:
`ticked = 1
`ticked

SyntaxError: ignored

In [ ]:
21a = 'start with num'
21a

In [ ]:
and = 21
and

## Data Types (자료형)

Python supports numerical data types: 
* **integer (정수형)**: number without decimal point
* **floating point (실수형)**: number with decimal point

and also supports text data type:
* **string (문자열)**: text

and boolean data type:
* **bool (불)**: conditional statements `True` (참) / `False` (거짓)

Python tracks the **type** of the value assigned to a variable. 

* ``type()``: Check what the value type is

In [ ]:
x = 12
print(type(x))

<class 'int'>

In [ ]:
x = 12.0
print(type(x))

<class 'float'>

In [ ]:
x = 'Hello'
print(type(x))

<class 'str'>

In [ ]:
x = False
print(type(x))

<class 'bool'>

The way of converting variables to different types is to use ``int()``, ``float()`` or ``str()``.

In [ ]:
x = 12
print(type(x))
print(x)

print(type(float(x)))
print(float(x))

<class 'int'>
12
<class 'float'>
12.0

In [ ]:
x = 12
print(type(x))
print(x)

print(type(str(x)))
print(str(x))

<class 'int'>
12
<class 'str'>
12

In [ ]:
x = 'hello'
print(type(x))
print(x)

print(type(float(x)))
print(float(x))

<class 'str'>
hello

ValueError: ignored

In [ ]:
x = '12'
print(type(x))
print(x)

print(type(float(x)))
print(float(x))

<class 'str'>
12
<class 'float'>
12.0

In [ ]:
x = True
print(type(x))
print(x)

print(type(int(x)))
print(int(x))

x = False
print(type(x))
print(x)

print(type(int(x)))
print(int(x))

<class 'bool'>
True
<class 'int'>
1
<class 'bool'>
False
<class 'int'>
0

In [ ]:
a = 123
b = '20'
print(a + int(b))
print(a + float(b))

143
143.0

## Exercises - Print, Variable and Data Types

Let's check out some exercises that will help you understand **print, variables and data types in Python** better.

### E-1

Try to print a sentence "Hello SCS2013 Students! Good to see you!!" directly - using `print()` function.

In [1]:
# your code here
print("Hello SCS2013 Students! Good to see you!!")

Hello SCS2013 Students! Good to see you!!

### E-2

Assign `3` to variable `num_of_boxes`, and see what sentence is printed.

In [2]:
# your code here
num_of_boxes = 3
print('There are', num_of_boxes, 'boxes on the table.')

There are 3 boxes on the table.

### E-3

Now assign a new value `5.3` to the variable `num_of_boxes` and print the value.

In [3]:
# your code here
num_of_boxes = 5.3
print('Now there are', num_of_boxes, 'boxes on the table?!')

Now there are 5.3 boxes on the table?!

### E-4

Let's check out **integer** data type. Assign any integer value to the variable `my_int` and print it.

In [4]:
# your code here
my_int = 123
print('The value of my_int is', my_int)

The value of my_int is 123

### E-5

Now check out **string** data type. Assign any string (a short sentence or a couple of words) to the variable `my_str` and print it. 

* You need to use the quote to make the string data.

In [5]:
# your code here
my_str = 'Exercise for string data type'
print(my_str)

Exercise for string data type

### E-6

Now, let's try to see what happens after assigning a new value (even a different type) to the existing variable.

In [6]:
my_var = 1

# print the type of the variable `my_var` 
print('The original value is', my_var, 'and the type is', type(my_var))

# assign any float number to the variable `my_var`
my_var = float(my_var)

# print the new value and the type of the variable `my_var`
print('The updated value is', my_var, 'and the type is', type(my_var))

# assign any word to the variable `my_var`
my_var = 'Python'
print('The updated value is', my_var, 'and the type is', type(my_var))

# assign True or False to the variable `my_var` and print it
my_var = True
print('The updated value is', my_var, 'and the type is', type(my_var))

The original value is 1 and the type is <class 'int'>
The updated value is 1.0 and the type is <class 'float'>
The updated value is Python and the type is <class 'str'>
The updated value is True and the type is <class 'bool'>

## Python Operators 

Let's play with Python Operators!

* **Assignment** operators: assigning values to variables 

* **Arithmetic** operators: mathematics operators 

* **Comparison** operators: constructing a conditional statement 

* **Membership** operators: checking if a group of values contains a sub-value 

....

### Assignment Operators

Let's start with *assignment* operators:

* `=`: variable name goes on the left side & the value being assigned goes to the right side

In [ ]:
planet = 'Earth'
planet

'Earth'

### Arithmetic Operators 

Used for most basic mathematical operations 

* `+` Addition: adds values 
* `-` Subtraction: subtracts values
* `*` Multiplication: multiplies values
* `/` Division (float): divides the first value by the second value and returns value with decimals
* `//` Division (floor): divide two values and returns integers without decimals
* `%` Modulus: gives the remainder of a division result
* `**` Power: raises the first value to the power of second value

In [ ]:
a = 5
b = 3

c = a + b
d = a - b
e = a * b
f = a / b
g = a // b
h = a % b
i = a ** b

print('a is', a, 'and b is', b)
print('a + b is', c)
print('a - b is', d)
print('a * b is', e)
print('a / b is', f)
print('a // b is', g)
print('a % b is', h)
print('a ** b is', i)

a is 5 and b is 3
a + b is 8
a - b is 2
a * b is 15
a / b is 1.6666666666666667
a // b is 1
a % b is 2
a ** b is 125

### Comparison Operators 

* `==` Equal: returns True if left side is equal to the right side
* `!=` Not equal: returns True if left side is not equal to right side
* `>` Greater than: returns True if left side is grater than the right side
* `<` Less than: returns True if left side is less than the right side
* `>=` Greater than or equal to: returns True if left side is grater than or equal to the right side
* `<=` Less than: returns True if left side is less than or equal to the right side

In [ ]:
a = 5
b = 3

c = a == b
d = a != b
e = a > b
f = a < b
g = a >= b
h = a <= b

print('a is', a, 'and b is', b)
print('a == b is', c)
print('a != b is', d)
print('a > b is', e)
print('a < b is', f)
print('a >= b is', g)
print('a <= b is', h)

a is 5 and b is 3
a == b is False
a != b is True
a > b is True
a < b is False
a >= b is True
a <= b is False

### Logical Operators 

* `and` logical AND: returns True when both operatnds are True 
* `or` logical OR: returns True if at least one of the operands is True
* `not` logical NOT: returns True if operand is False

In [ ]:
x = 5
print(x > 3 and x < 10)

True

In [ ]:
x = 15
print(x > 3 and x < 10)

False

In [ ]:
x = 5
print(x > 3 or x < 4)

True

In [ ]:
x = 5
print(x < 2 or x > 6)

False

### Membership Operators / Identity Operators 

* `in`: return True if an object is in another object
* `not in`: return True if an object is not in another object

* `is`: tells if two objects are identical
* `is not`: tells if two objects are not identical

**Note** that `is` returns False if it is not the same object, even if they have the same content

In [ ]:
x = ['apple', 'banana']
print('apple' in x)
print('pear' in x)

True
False

In [ ]:
a, b = 5, 5
print(id(a), id(b))
print(a is b)

a, b = 56, 92
print(a is b)

x = 1000
print(x, id(x))
y = 1001
print(y, id(y))
y = y-1
print(y, id(y))
print(x is y)
print(x == y)

94172108421760 94172108421760
True
False
1000 139847223650768
1001 139847223651728
1000 139847223651184
False
True

### More Assignment Operators 

* `+=`: adding values and assigning it: `a+=b` instead of `a=a+b`
* Similarly, we can use `-=`, `*=`, `/=`, `%=`, `//=`, `**=`, ...

In [ ]:
x = 5
print('x is', x)

x += 3
print('x += 3 is', x)

x -= 2
print('x += 2 is', x)

x *= 1.5
print('x *= 1.5 is', x)

x /= 1.25
print('x /= 1.25 is', x)

x //= 3
print('x //= 3 is', x)

x **= 4
print('x **= 4 is', x)

x is 5
x += 3 is 8
x += 2 is 6
x *= 1.5 is 9.0
x /= 1.25 is 7.2
x //= 3 is 2.0
x **= 4 is 16.0

## Exercises - Python Operators

Let's check out some exercises that will help you understand **operators in Python** better.

### E-1

Multiply 10 with 5 and assign it to a variable `a`, and print the result.

Divide 10 by 2 and assign it to a variable `b`, and print the result.

In [7]:
# multiply 10 with 5
a = 10*5
print(a)

# divide 10 by 2 
b=10/2
print(b)

50
5.0

### E-2

Use the correct membership operator to check 1) if `'apple'` is present in the `fruits` object, 2) if `'milk'` is present in the `fruits`

In [9]:
fruits = ['apple', 'banana', 'melon']

# check if 'apple' is present in the `fruits` object
a = 'apple' in fruits
print('apple is a fruit:', a)

# check if 'milk' is present in the `fruits` object
b = 'milk' in fruits
print('milk is a fruit:', b)

apple is a fruit: True
milk is a fruit: False

### E-3

Use the comparison operator to check if `5` is **not equal** to 21

In [10]:
# check if 5 is not equal to 21
print('5 and 21 is not equal:', 5 != 21)

5 and 21 is not equal: True

### E-4

Check if `x` is a four digit (네자리수) even (짝수) number.

In [12]:
x = 25

# check_1: check if x is a four digit number
check_1 = (x >= 1000) and (x <= 9999)

# check_2: check if x is an even number
check_2 = (x % 2) == 0

# check: check if x is a four-digit even number
check = check_1 and check_2

print('x', x, 'is a four digit number:', check_1)
print('x', x, 'is an even number:', check_2)
print('x', x, 'is a four digit even number:', check)

x 25 is a four digit number: False
x 25 is an even number: False
x 25 is a four digit even number: False