<a href="https://colab.research.google.com/github/ohsoohyun/python_study/blob/main/SCS2013_Exercise_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SCS2013 Exercise 03 (2022 Spring)

**This exercise notebook will go through the "Strings" in Python:**

* Create strings 
* String operators 
* String Formatting
* String Indexing, Slicing, Striding
* String methods

## Create Strings 

* Python strings have powerful text-processing features. Strings are created by using **quotes** with texts in between. 
The quotes used can be either 
  - i) single **`' '`** 작은따옴표
  - ii) double **`" "`** 큰따옴표
  - iii) three single quotes **`'''  '''`** 작은따옴표 3개 연속
  - iv) three double quotes **`""" """`** 큰따옴표 3개 연속

* Escape character (이스케이프 코드): backslash `\` 뒤에 문자가 오는 조합
  - `\\`: backslash
  - `\'`, `\"`: single quote, double quote
  - `\n`, `\t`: new line, tab

In [1]:
print('Create string 1: SCS2013 Exercise 03')
print("Create string 2: SCS2013 Exercise 03")
print('''Create string 3: SCS2013 Exercies 03''')
print("""Create string 4: SCS2013 Exercise 03""")

print(type('This is String'))

Create string 1: SCS2013 Exercise 03
Create string 2: SCS2013 Exercise 03
Create string 3: SCS2013 Exercies 03
Create string 4: SCS2013 Exercise 03
<class 'str'>

How to create a string 
A) `I'm good.` B) `"Python is very easy." He says.` and C) `John's favorite food is Pizza.`

How to create a string with multiple lines:

`ABCDE`

`FGH`

`"last"`

In [2]:
# A) I'm good.
print('I'm good.')

SyntaxError: ignored

In [3]:
# A) I'm good.
print("I'm good")
print('''I'm good''')
print("""I'm good""")
print('I\'m good')

I'm good
I'm good
I'm good
I'm good

In [4]:
# B) "Python is very easy." He says.
print(""Python is very easy." He says.")

SyntaxError: ignored

In [5]:
# B) "Python is very easy." He says.
print('"Python is very easy." He says.')
print('''"Python is very easy." He says.''')
print("\"Python is very easy.\" He says.")

"Python is very easy." He says.
"Python is very easy." He says.
"Python is very easy." He says.

In [6]:
# C) John's favorite food is Pizza.
print('John's favorite food is Pizza.')

SyntaxError: ignored

In [7]:
# C) John's favorite food is Pizza.
print("John's favorite food is Pizza.")
print("""John's favorite food is Pizza.""")
print('John\'s favorite food is ')

John's favorite food is Pizza.
John's favorite food is Pizza.
John's favorite food is

In [8]:
# D) multiple lines
print('''ABCDE
FGH
"last"'''
)

print('''ABCDE\nFGH\n"last"''')

ABCDE
FGH
"last"
ABCDE
FGH
"last"

In [9]:
# String operators '+', '*'
str1 = "Hi"
str2 = "!"
print(str1 + str2)

int1 = 5
print(str1 + str2*int1)

Hi!
Hi!!!!!

## String Formatting: **% operator**, **.format()**, **f-string** methods

Let's check out some exercises to uderstand `% operator`, `.format()`, `f-string` methods better.

* % operator: format specifier를 사용하여 특정 부분을 원하는 형식으로 표현 
  - `%s`: string, `%c`: character, `%d`: integer, `%f`: floating point, `%%`: % character

* .format(): `{}`와 `.format()`을 사용해 원하는 형식을 표현
  - `{}`으로 원하는 부분을 명시: 순서를 매기거나 (index) 이름을 붙일 수 있음 

* f-string: `f' '`와 `{}`을 사용해 원하는 형식을 표현
  
* 정렬, 공백 채우기, 자리수 지정하기
  - `:<10`, `:>10`, `:^10`: 왼쪽, 오른쪽, 가운데 정렬
  - `:a<10`, `:a>10`, `:a^10`: 정렬 & 공백을 a로 채움
  - `:A.Bf`: 전체 자릿수 A (소수점 . 을 포함), 소수점 아래 B자리

In [10]:
# 1
name = "Bob"
str_old = "Hello! %s!!" % name
print(str_old)

Hello! Bob!!

In [11]:
# 2
name = "Bob"
str_format = "Hello! {}!!".format(name)
print(str_format)

Hello! Bob!!

In [12]:
# 3
name = "Bob"
str_f = f"Hello! {name}!!"
print(str_f)

Hello! Bob!!

In [13]:
# print the number 5 only

print('%d' % 5)
print('{}'.format(5))
print(f'{5}')

5
5
5

### Multiple values

If we want to fill multiple values, we can use multiple curly brackets or multiple % operators.

Print the numbers `1`, `10`, `100` each separated with a comma.

In [14]:
my_str = 'Print the numbers: %d, %d and %d' %(1, 10, 100)
print(my_str)

Print the numbers: 1, 10 and 100

In [15]:
my_str = 'Print the numbers: {0}, {1} and {2}'.format(1, 10, 100)
print(my_str)

Print the numbers: 1, 10 and 100

In [17]:
my_str = 'Print the numbers: {no1}, {no2} and {no3}'.format(no2=10, no1=1, no3=100)
print(my_str)

inta = 1
intb = 10
intc = 100

my_str = 'Print the numbers: {no1}, {no2} and {no3}'.format(no2=intb, no1=inta, no3=intc)
print(my_str)

Print the numbers: 1, 10 and 100
Print the numbers: 1, 10 and 100

In [18]:
my_str = f'Print the numbers: {1}, {10} and {100}'
print(my_str)

Print the numbers: 1, 10 and 100

### How to format numbers

A common problem with printing numbers is specifying the number of decimal places. Try these examples:

In [19]:
value = 4054.3
print(value)

4054.3

In [22]:
print('!%.4f!' % value)
print('!%15.2f!' % value)
print('!%-15.2f' % value)

!4054.3000!
!        4054.30!
!4054.30

In [23]:
day = 'Today'
print('{}\'s temperature: {:d}°C'.format(day, 100))
print('{0}\'s temperature: {1:d}°C'.format(day, 100))
print('{1}\'s temperature: {0:d}°C'.format(100, day))
print('{}\'s temperature: {:.3f}°C'.format(day, 100))

print('{}\'s temperature: {:>10.3f}°C'.format(day, 100))
print('{}\'s temperature: {:<10.3f}°C'.format(day, 100))
print('{}\'s temperature: {:^10.3f}°C'.format(day, 100))

Today's temperature: 100°C
Today's temperature: 100°C
Today's temperature: 100°C
Today's temperature: 100.000°C
Today's temperature:    100.000°C
Today's temperature: 100.000   °C
Today's temperature:  100.000  °C

In [24]:
print(f'1: {value}')
print(f'2: {value:f}')
print(f'3: {value:0.4f}')
print(f'4: {value:>15.2f}')
print(f'5: {value:<15.2f}')
print(f'6: {value:*>15.2f}')

1: 4054.3
2: 4054.300000
3: 4054.3000
4:         4054.30
5: 4054.30
6: ********4054.30

## String Indexing, Slicing and Striding

* **Indexing**: starts from `0` - from left to right
  - negative index starts from `-1` - from right to left
* **Slicing**: `my_str[start index: end index]` - it includes the character at `start index`, but not the character at `end index`.
* **Striding**: `my_str[start index: end index: striding number]` - it also includes the character at `start index` but not the character at `end index`.

In [25]:
my_str = "Hello World"
print(my_str)

Hello World

In [26]:
print(my_str[0])
print(my_str[4])
print(my_str[9])

print(my_str[-1])
print(my_str[-7])

H
o
l
d
o

In [27]:
print(my_str)

print(my_str[0:3]) # 3직전까지 뽑아온다
print(my_str[:7]) # 0이 암묵적으로 들어있다고 생각하기
print(my_str[5:]) # 끝 자리까지 포함하고 싶다!!
print(my_str[4:-2])
print(my_str[1:4] + my_str[-5:9])

Hello World
Hel
Hello W
 World
o Wor
ellWor

In [28]:
print(my_str[0:7:2]) # 구간을 자르고 2개씩 건너뛴다.
print(my_str[::3]) # 문자열 전체에 대해서 3개씩 건너뛴다.

HloW
HlWl

## String Methods

There are many in-built string methods in Python. Let's try out some exercises!
- example: `my_str.count('a')`

**Note**: All string methods returns new values. They do not change the original string.

In [36]:
my_str = "Hello World. Attention please."
print(my_str)

Hello World. Attention please.

In [30]:
# .count()
print(my_str.count('l')) #''이 몇 번 들어가 있는지 알려준다
print(my_str.count('e'))
print(my_str.count('ea'))
print(my_str)

4
4
1
Hello World. Attention please.

In [31]:
# .find(), .index() 위치의 index값 반환해준다.

print(my_str.find('o'))
print(my_str.find('lo'))
print(my_str.find('y')) # 존재하지 않는 건 -1로 반환

print(my_str.index('o'))
print(my_str.index('lo'))
#print(my_str.index('y')) # 존재하지 않는 건 error 발생시킴

4
3
-1
4
3

In [32]:
# .join() 들어가는 주체가 누구인지

new_str = '+'.join(my_str)
print(my_str)
print(new_str)

Hello World. Attention please.
H+e+l+l+o+ +W+o+r+l+d+.+ +A+t+t+e+n+t+i+o+n+ +p+l+e+a+s+e+.

In [35]:
# .replace() 값을 바꿔주는 함수

print(my_str.replace('World','Guys'))
print(my_str.replace('Hello', 'Hi'))

print(my_str) # 원래있던 문자열을 바꿔주지는 않는다. 결과를 my_str에 통째로 할당 시키기!
my_Str = my_str.replace('Hello', 'Hi')
print(my_Str)

Hi Guys. Attention please.
Hi World. Attention please.
Hi World. Attention please.
Hi World. Attention please.

In [37]:
# .split()

print(my_str)
print(my_str.split())
print(my_str.split('l'))

Hello World. Attention please.
['Hello', 'World.', 'Attention', 'please.']
['He', '', 'o Wor', 'd. Attention p', 'ease.']

In [38]:
# .split()
str2 = 'Ally, Bob, Charlie, David, John'
str2.split(',')

['Ally', ' Bob', ' Charlie', ' David', ' John']

In [39]:
# .strip(), .lstrip(), .rstrip()

str3 = '   Hello   hi!   '
print(str3)

print(str3.strip()) # 양쪽의 공백 모두 제거
print(str3.lstrip()) # 왼쪽 공백 제거
print(str3.rstrip()) # 오른쪽 공백 제거

   Hello   hi!
Hello   hi!
Hello   hi!
   Hello   hi!

## Exercise

### E-1

Assign the string below to the variables `my_str1`, `my_str2`, `my_str3` using three different ways:

`"It's always darkest before dawn."`

In [61]:
# your code here:

my_str1 = '''"It's always darkest before dawn."'''
my_str2 = '"It\'s always darkest before dawn."'
my_str3 = '\"It\'s always darkest before dawn.\"'

print(my_str1)
print(my_str2)
print(my_str3)

"It's always darkest before dawn."
"It's always darkest before dawn."
"It's always darkest before dawn."

### E-2

Print the following sentence by using different formatting methods: 

`One year has 12 months, 52 weeks and 365 days.`

In [41]:
month = 12
week = 52
day = 365

**using % operators**

In [62]:
# using % operators
print("One year has %d months, %d weeks and %d days" % (month, week, day))

One year has 12 months, 52 weeks and 365 days

**using `.format()` method**

In [47]:
# using .format() method with empty brackets {}
print("One year has {} months, {} weeks and {} days" .format(month, week, day))


# using .format() method with name for each bracket
print("One year has {m} months, {w} weeks and {d} days" .format(m=month, w=week, d=day))


# using .format() method with index for each bracket
print("One year has {0} months, {1} weeks and {2} days" .format(month, week, day))

One year has 12 months, 52 weeks and 365 days
One year has 12 months, 52 weeks and 365 days
One year has 12 months, 52 weeks and 365 days

**using f-string**

In [48]:
# using f-string
print(f"One year has {month} months, {week} weeks and {day} days")

One year has 12 months, 52 weeks and 365 days

### E-3
Fill inside the `.format()` so that it matches the correct appropriate values.

`Scores are following: Bob 60, David 75, John 90.`

In [71]:
John = 90
Bob = 60
David = 75

# your code here

print("Scores are following: Bob {1}, David {2}, John {0}" .format(John, Bob, David))
print("Scores are following: Bob {Bob}, David {David}, John {John}" .format(John=John, Bob=Bob, David=David))

Scores are following: Bob 60, David 75, John 90
Scores are following: Bob 60, David 75, John 90

### E-4
Given a string, return a new string made of the first, third and last characters of the string.

In [72]:
str1 = "Python"

# your code here
new_str1 = str1[0]+str1[2]+str1[-1]

print(new_str1)

Ptn

### E-5
Reassign `str1` so that all of its characters are uppercase.

In [70]:
# your code here

str1 = str1.upper()
print(str1)

PYTHON

### E-6

For a string `str2`, replace the `.` with `?` and assign it to `str2` again - that is, change the `.` in a string `str2` with `?`.

In [51]:
str2 = "192.168.0.12"

# your code here
str2 = str2.replace('.','?')
print(str2)

192?168?0?12

### E-7
What is the length of the given string?

In [55]:
str3 = "People often say that motivation doesn't last. Well, neither does bathing.  That's why we recommend it daily."
str4 = "2.0592"

# your code here
print(len(str3))
print(len(str4))

109
6

### E-8
Which character occur more often in the string? `t` or `i`? Print the following result using print function (and also using a string formatting!).

`Count of t is "11", Count of i is "6".`

`Frequency of t is 10.19%, Frequency of i is 5.56%.`


- frequency is the fraction of the count and the total length of the sentence

In [83]:
str3 = "People often say that motivation doesn't last. Well, neither does bathing. That's why we recommend it daily."

# your code here
a = str3.count('t')
b = str3.count('i')
per_a = str3.count('t')/len(str3)*100
per_b = str3.count('i')/len(str3)*100

print(a, b, per_a, per_b)
print(f"Count of t is \"{a}\", Count of i is \"{b}\".")
print(f"Frequency of t is {per_a:.2f}%, Frequency of i is {per_b:.2f}%.")

print(f"Count of t is \"{a}\", Count of i is \"{b}\".\nFrequency of t is {per_a:.2f}%, Frequency of i is {per_b:.2f}%.")

11 6 10.185185185185185 5.555555555555555
Count of t is "11", Count of i is "6".
Frequency of t is 10.19%, Frequency of i is 5.56%.
Count of t is "11", Count of i is "6".
Frequency of t is 10.19%, Frequency of i is 5.56%.

### E-9

Using string slicing and formatting, print the followings:

```
!!220321!!
1234567***
```

In [94]:
my_str = '220321-1234567'

# your code here
str_a = my_str.split('-')[0]
str_b = my_str.split('-')[1]
print(str_a, str_b)

str_a1 = my_str[0:6]
str_b1 = my_str[7:]
print(str_a1, str_b1)

# 이렇게 두 가지 방법으로 인덱싱할 수 있다. 

aa = f'{str_a:!^10}'
bb = f'{str_b:*<10}'
print(aa)
print(bb)

220321 1234567
220321 1234567
!!220321!!
1234567***